<html> 

<body> 

<div>

    
        @{
            if (ViewBag.uslov == true)
            {
                @ViewBag.Message
            }
            else
            {
                @ViewBag.Message2
            }
        }
    
    

</div>
</body>

</html>